@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Mukta:wght@700&family=Roboto:wght@400;700&display=swap');


html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

body {
  font-size: 125%;
  font-family: "Roboto", sans-serif;

  background-image:url("./assets/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.App {
  text-align: center;
}

header{
  min-height: 100vh;
  

  

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

header img {
  max-width: 600px;
}

p,
h1,
h2,
label {
  color:azure;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 80px;
}

header .wrapper,
.gallery {

  background-color: rgba(0,0,0,0.7);
  padding: 100px 50px;
  border-radius: 30px;
  box-shadow: 2px 2px 10px 5px rgba(113,126,142,0.3), -2px -2px 10px 5px rgba(113,126,142,0.3)
}

button {
  background-color:rgb(113,126,142);
  border: none;
  padding: 10px;
  cursor: pointer;
  color: azure;
  font-weight: 700;
   
}



header button{
  
  font-size: 1.5rem;
  min-height: 72.5px;
  min-width: 18%;
}


form {
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-size: 1.5rem;
  margin: 80px auto 20px auto;
}

form input{
  width: 70%;
  min-height: 50px;
  font-size: 1.5rem;
  padding: 10px 5px;
}

main {
  /* background-color:rgb(105, 105, 105); */
  /* background-color: #AAA9AD;*/
  padding: 50px 0; 
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.gallery:empty {
  display:none;
}

main h2 {
 margin-bottom: 80px;
 font-family: 'Lora', serif;
 font-size: 4.5rem;
 font-weight: 700;
 letter-spacing: 0.4rem;
 text-transform: uppercase;
 color: azure;
}

.itemButton {
  padding: 10px 20px;
  background-color: #AAA9AD;
  color: steelblue;
  font-size: 1.2rem;
  border-radius: 10px;
  transition: 0.4s ease-out;

}
.itemButton:hover,
.itemButton:focus {
  color: #AAA9AD;
  background-color: cornflowerblue;
  box-shadow: 0 0.5em 0.5em -0.4em #E0FFFF;
  transform: scale(1.01) translate(0, -3px);

}

main img {
  max-width: 40px;
  max-height: 40px;
}

.itemContainer,
.recipeContainer {
  /* background-color: #5a5653; */
  background-color: rgb(85, 85, 85);
  

  border-radius: 10px;
  box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.3), -1px -1px 10px 5px rgba(0,0,0,0.3);
 

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.itemContainer {
  
  flex-basis: 300px;
  padding: 25px;
  margin: 20px;

  

  font-size: 1.4rem;
  font-weight: bold;
}

.recipeContainer {
  flex-basis: 400px;
  padding: 25px;
  margin: 20px;

  position: relative;
}

.recipesSection h2 {
  margin-bottom: 0;
}

.ingredientContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5px;
}

.nameAndClassContainer {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 20px 0;
}

.closeRecipeButton {
  position: absolute;
  top: 10px;
  right: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 400;

  height: 30px;
  width: 30px;
  
  background-color: rgb(85, 85, 85);
}

.error {
  color: red;
  text-align: center;
}

.clearButtonContainer {
  display: flex;
  justify-content: flex-end;
  
}

.clearButton {
  margin-right: 50px;
  border-radius: 30px;
  font-size:1.2rem;
}

.leftHalfIngredientContainer,
.rightHalfIngredientContainer {
  display: flex;
  align-items: center;
  /* width: 50%; */
  text-align: left;
}

.rightHalfIngredientContainer {
  justify-content: flex-end;
}

.ingredientContainer img {
  margin-right: 30px;
}

.subRecipeButton,
.noRecipeSpace {
  font-size: 1.2rem;
  padding: 5px 5px 0 0;
  margin-left: 20px;
  background-color: rgb(85, 85, 85);
  transition: 0.4s ease-out;
}

.subRecipeButton:hover {
  color: cornflowerblue;
  transform: scale(1.2) translate(1px);
  
}

.subRecipeButton:hover::after {
  content: "";
  height: 20%;
  box-shadow: 5px 0 1px 2px cornflowerblue;
}



.noRecipeSpace {
  color: rgb(85, 85, 85);
  
}

/* Footer Styles */
footer {
  font-size: 0.8rem;
}

/* Media Queries */

@media screen and (max-width:768px){
  header img {
    width: 350px;
  }
}

@media screen and (max-width:480px){
  header img {
    width: 200px;
  }
  form {
    flex-direction: column;
  }

  form input {
    width: 100%;
    margin-bottom: 10px;
  }
}