body {
  font-size: 125%;
}

.App {
  text-align: center;
}

header{
  min-height: 100vh;
  

  background-image:url("./assets/background.jpg");
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  
}

header img {
  max-width: 600px;
}

p,
header h1,
header h2,
label {
  color:white;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 80px;
}

header .wrapper {
  margin-top: 100px;
  background-color: rgba(0,0,0,0.7);
  padding: 100px 50px;
  border-radius: 30px;
  box-shadow: 2px 2px 10px 5px rgba(113,126,142,0.3), -2px -2px 10px 5px rgba(113,126,142,0.3)
}

button {
  background-color:rgb(113,126,142);
  border: none;
  padding: 10px;
  cursor: pointer;
  color: white;
   
}

header button{
  
  font-size: 1.5rem;
  min-height: 72.5px;
  min-width: 18%;
}


form {
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 80px auto 20px auto;
}

form input{
  width: 70%;
  min-height: 50px;
  font-size: 1.5rem;
  padding: 10px 5px;
}

main {
  background-color:rgb(105, 105, 105);
  padding: 50px 0;
}

main .wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;

  
}

main h2 {
 margin-bottom: 80px;
}

main button {
  font-size: 1.2rem;
  border-radius: 20px;
}

.itemContainer {
  border-radius: 10px;
  box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.3), -1px -1px 10px 5px rgba(0,0,0,0.3);
  background-color: #5a5653;
  min-width: 300px;
  padding: 25px;
  margin: 20px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1.4rem;
  font-weight: bold;
}

.recipeContainer {
  border-radius: 10px;
  box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.3), -1px -1px 10px 5px rgba(0,0,0,0.3);
  background-color: #5a5653;
  min-width: 500px;
  padding: 25px;
  margin: 20px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ingredientContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px;
}

.nameAndClassContainer {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 20px;
}